{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="py-5 bg-light">
	  <div class="container">
	    <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
	      <div class="col-lg-6">
	        <h1 class="h2 text-uppercase mb-5 mt-5">{% trans "Change Password" %}</h1>
	      </div>
	    </div>
	  </div>
	</section>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <div class="col-lg-6 form-group">
            <label class="text-small text-uppercase" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control form-control-lg' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
        <div class="col-lg-12 form-group mb-5">
            <button class="btn btn-dark" type="submit">
                {% trans "Change Password" %}
            </button>
        </div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}