{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <section class="py-5 bg-light">
	  <div class="container">
	    <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
	      <div class="col-lg-6">
	        <h1 class="h2 text-uppercase mb-0">{% trans "Password Reset" %}</h1>
	      </div>
	    </div>
	  </div>
	</section>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="col-lg-9 mb-5">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}