{% load static %}
<ul class="navbar-nav ml-auto">               
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'wishlist:index' %}">
      <i class="far fa-heart mr-1"></i>
      <small class="text-gray">
        {% if wishlist.items.all %}
          ({{ wishlist.items.all|length }})
        {% else %}
          (0)
        {% endif %}
      </small>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cart:cart_detail' %}">
      <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Корзина
      <small class="text-gray">
        {% if cart %}
          {% with total_items=cart|length %}
            ({{ total_items }})
          {% endwith %}
        {% else %}
          (0)
        {% endif %}
      </small>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Аккаунт
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0;left: auto;">
      {% if user.is_authenticated %}
      <a class="dropdown-item" href="{% url 'account_email' %}">Настройка E-mail</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'account_logout' %}">
        Выйти
      </a>
      {% else %}
      <a class="dropdown-item" href="{% url 'account_login' %}">
        Вход
      </a>
      <a class="dropdown-item" href="{% url 'account_signup' %}">
        Регистрация
      </a>
      {% endif %}
    </div>
  </li>
</ul>