{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block seo %}
    <title>Желания | Bauer Dress</title>
    <meta name="description" content="Нашли что хотели, но нет возможности заказать сейчас? Добавьте товар в Желания"/>
{% endblock %}
{% block content %}
    <div class="container">
        <!-- HERO SECTION-->
        <section class="bg-light" style="padding-top: 3em;">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Мои желания</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="{% url 'shop:main' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Желания</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          {% if not wishlist.items.all %}
          <h2 class="h5 text-uppercase mb-4">Лист желаний пуст</h2>
          {% endif %}
          <div class="row">
            {% if wishlist.items.all %}
            <div class="col-lg-12 mb-4 mb-lg-0">
              <!-- CART TABLE-->
              <div class="table-responsive mb-4">
                <table class="table">
                  <thead class="bg-light">
                    <tr>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Товар</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase" style="white-space: nowrap;">Кол-во
                        </strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Цвет</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Размер</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Цена</strong></th>
                      <th class="border-0" scope="col"> </th>
                      <th class="border-0" scope="col"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in wishlist.items.all %}
                    {% with product=item.product %}
                    <form method="POST" action="{% url 'wishlist:cart_add' product.id item.get_cost item.product_set.slug %}">
                      {% csrf_token %}
                      {% for hidden_field in cart_product_form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}
                      {% if cart_product_form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in cart_product_form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                      <tr>
                        <th class="pl-0 border-0" scope="row">
                          <div class="media align-items-center">
                            <a class="reset-anchor d-block animsition-link" href="{{ item.product_set.get_absolute_url }}">
                              <img src="{% if product.images.first %}{{ product.images.first.image.url }}{% else %}{% endif %}" alt="{{ product.images.first.alt }}" width="70"/>
                            </a>
                            <div class="media-body ml-3" style="min-width: 150px;">
                              <strong class="h6">
                                <a class="reset-anchor animsition-link" href="{{ item.product_set.get_absolute_url }}">{{ product.name }}</a>
                              </strong>
                            </div>
                          </div>
                        </th>
                        <td class="align-middle border-0">
                          <div class="quantity">
                            <a class="dec-btn" style="padding: 10px;cursor: pointer;"><i class="fas fa-caret-left"></i></a>
                            <input class="form-control border-0 shadow-0 p-0 text-gray" type="text" value="{{ item.quantity }}" name="quantity" style="background-color: transparent;" id="quantity">
                            <a class="inc-btn" style="padding: 10px;cursor: pointer;"><i class="fas fa-caret-right"></i></a>
                          </div>
                        </td>
                        <td class="align-middle border-0">
                          {% render_field cart_product_form.color class="form-control product-size-variation-btn b-rad--none w200 form-control custom-select" style='width: auto;padding-right: 1.75rem;font-size:16px;' %}
                        </td>
                        <td class="align-middle border-0">
                          <p class="mb-0 small">{{ item.product_set.size_set }}</p>
                        </td>
                        <td class="align-middle border-0">
                          <p class="mb-0 small">{{ item.get_cost }}{% if product.rent %} руб/{% if product.pay_method %}{{ product.pay_method }}{% else %}ч{% endif %}{% else %} руб.{% endif %}</p>
                        </td>
                        <td class="align-middle border-0">
                          <button class="btn btn-dark" style="white-space: nowrap;" type="submit">
                            В корзину
                          </button>
                        </td>
                        <td class="align-middle border-0">
                          <a class="reset-anchor" href="{% url 'wishlist:wishlist_remove' product.id item.price item.quantity item.product_set.slug %}"><i class="fas fa-trash-alt small text-muted"></i></a>
                        </td>
                      </tr>
                    </form>
                    {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="bg-light px-4 py-3">
              <div class="row align-items-center text-center">
                <div class="col-md-6 mb-3 mb-md-0 text-md-left" style="padding-left: 5px;white-space: nowrap;">
                  <a class="btn btn-outline-dark btn-sm" href="{{ request.META.HTTP_REFERER }}"><i class="fas fa-long-arrow-alt-left mr-2"></i>Назад
                  </a>
                </div>
              </div>
            </div>
            {% else %}
            <div class="bg-light px-4 py-3">
              <div class="row align-items-center text-center">
                <div class="col-md-6 mb-3 mb-md-0 text-md-left" style="padding-left: 5px;white-space: nowrap;">
                  <a class="btn btn-outline-dark btn-sm" href="{% url 'shop:index' %}"><i class="fas fa-long-arrow-alt-left mr-2"></i>Назад
                  </a>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </section>
    </div>
{% endblock %}