{% extends 'shop/product/list_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block hero %}
  <div class="col-lg-6">
    <h1 class="h2 text-uppercase mb-0">Магазин</h1>
    {% if category %}<span class="breadcrumb-item active">{{ category.name }}</span>{% endif %}
  </div>
  <div class="col-lg-6 text-lg-right">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
        <li class="breadcrumb-item"><a href="{% url 'shop:main' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Магазин</li>
      </ol>
    </nav>
  </div>
{% endblock %}


{% block filter_form_extra %}
<div class="py-2 d-flex">
  {% render_field filter.form.rent style="margin-right: 5px;" %}
  <span class="text-small text-muted">Доступно в аренду</span>
</div>
{% endblock %}