{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block seo %}
  {% if category %}
      <title>{{ category.name }} в интернет-магазине Bauer Dress</title>
      <meta name="description" content="{{ category.get_seo_description }}"/>
  {% elif tag %}
      <title>Вещи в интернет-магазине {{ tag.name }} Bauer Dress</title>
      <meta name="description" content="{{ tag.get_seo_description }}"/>
  {% elif promotion %}
      <title>Bauer Dress | {{ promotion.seo_title }}</title>
      <meta name="description" content="{{ promotion.get_seo_description }}"/>
  {% elif request.get_full_path == '/new/' %}
      <title>Новинки | Bauer Dress</title>
      <meta name="description" content="Новые поступления в онлайн-магазине детской одежды. Купите платья для девочек с бесплатной доставкой по Новосибирску"/>
  {% else %}
      <title>Онлайн-магазин | Bauer Dress</title>
      <meta name="description" content="Онлайн магазин детской одежды. Купите платья для девочек с бесплатной доставкой по Новосибирску"/>
  {% endif %}
{% endblock %}
{% block content %}

<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
          {% block hero %}{% endblock %}
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container p-0">
        <div class="row">
          <!-- SHOP SIDEBAR-->
          <div class="accordion mb-3" id="accordionExample">
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Фильтр
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  
                  <form method="get">
                    {% if category %}
                    {% else %}
                    <div class="py-2 bg-light">
                      <strong class="small text-uppercase font-weight-bold">Тип товара</strong>
                    </div>
                    {% render_field filter.form.category class="js-example-placeholder-multiple form-control custom-select" %}
                    {% endif %}
                    <div class="py-2 bg-light">
                      <strong class="small text-uppercase font-weight-bold">Цена</strong>
                    </div>
                    {% render_field filter.form.price_to__gt class="form-control" placeholder="От" style="border-bottom: none;" %}
                    {% render_field filter.form.price_from__lt class="form-control" placeholder="До" %}
                    <div class="py-2 bg-light">
                      <strong class="small text-uppercase font-weight-bold">Материал</strong>
                    </div>
                    {% render_field filter.form.material class="js-example-placeholder-multiple form-control custom-select" %}
                    <div class="py-2 bg-light">
                      <strong class="small text-uppercase font-weight-bold">Возраст</strong>
                    </div>
                    {% render_field filter.form.tag class="js-example-placeholder-multiple form-control custom-select" %}
                    {% block filter_form_extra %}{% endblock %}
                    <div class="col-sm-12 pl-sm-0 p-0 pt-15">
                      <button class="btn btn-dark btn btn-block h-100 d-flex align-items-center justify-content-center px-0" type="submit">Применить</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- SHOP LISTING-->
          <div class="col-lg-12 order-1 order-lg-2 mb-5 mb-lg-0">
            <div class="row mb-3 align-items-center">
              <div class="col-lg-6 mb-2 mb-lg-0">
                <p class="text-small text-muted mb-0">Показано {{ page_obj.end_index }} из {{ filter.qs|length }} товаров</p>
              </div>
            </div>
            <div class="row">
              {% for product in page_obj %}
                <!-- PRODUCT-->
                <div class="col-lg-3 col-sm-6 mb-30">
                  <div class="product text-center">
                    <div class="mb-3 position-relative">
                      {% if product.discount %}
                      <div class="badge text-white badge-info">-{{ product.discount }}%</div>
                      {% endif %}
                      {% if product.status_new %}
                      <div class="badge text-white badge-primary">Новинка</div>
                      {% endif %}
                      <a class="d-block" href="{{ product.get_absolute_url }}">
                        <img class="bg-color img-fluid w-100 lazy" data-src="{% if product.images.first %}{{ product.images.first.image.url }}{% else %}{% static 'shop/img/product-banners/example.jpg' %} {% endif %}" alt="{{ product.images.first.alt }}">
                      </a>
                    </div>
                    <h6> <a class="reset-anchor" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                    <p class="small text-muted">от {{ product.price_from }}{% if product.rent %} руб/{% if product.pay_method %}{{ product.pay_method }}{% else %}ч{% endif %}{% else %} руб.{% endif %}</p>
                  </div>
                </div>
              {% empty %}
              <div class="col-lg-12 text-center col-sm-12 mb-30 text-muted">
                Ничего не найдено...
              </div>
              {% endfor %}
            </div>
            <!-- PAGINATION-->
            {% if page_obj.has_other_pages %}
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center justify-content-lg-end">
                  <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                      <span aria-hidden="true">«</span>
                    </a>
                  </li>
                  {% if page_obj.has_previous %}
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                  {% endif %}
                  <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                  </li>
                  {% if page_obj.has_next %}
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                  {% endif %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                      <span aria-hidden="true">»</span></a>
                  </li>
                </ul>
              </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}