{% extends 'shop/base.html' %}
{% block seo %}
    <title>Bauer Dress | Правила</title>
{% endblock %}
{% block content %}
<main class="main-content-wrapper">
    <div class="error-area pt--90 pt-xl--70 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 text-left">
                    <div class="pt--20 information">
                        <h2>Правила</h2>
                        <p>
                            Основные понятия, используемые в Политике
                            2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
                            2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
                            2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу httpsː//thismywebsite·com;
                            2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}