<html>
	<body>
		<h1>Bauer Dress</h1>
		<p>
			Заказ №{{ order.id }}</br>
			<span class="secondary">
				{{ order.created }}
			</span>
		</p>
		<h3>Счет для:</h3>
		<p>
			{{ order.first_name }} {{ order.last_name }}<br>
			{{ order.email }}<br>
			{{ order.address }}<br>
		</p>
		<h3>Куплено</h3>
		<table>
			<thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th style="white-space: nowrap;">Кол-во</th>
                    <th>Размер</th>
                    <th>Цвет</th>
                    <th>Итого</th>
                </tr>
                </thead>
			<tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td>{{ item.product.name }}{% if item.product.rent %} (аренда){% endif %}</td>
                        <td style="white-space: nowrap;" class="num">{{ item.price }}{% if item.product.rent %} руб/{% if item.product.pay_method %}{{ item.product.pay_method }}{% else %}ч{% endif %}{% else %} руб.{% endif %}</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.size }}</td>
                        <td class="num">{{ item.color }}</td>
                        <td style="white-space: nowrap;" class="num">{{ item.get_cost }} руб.</td>
                    </tr>
                {% endfor %}
                {% if order.coupon %}
                <tr class="coupon">
                    <td colspan="3">Купон ({{ order.coupon.code }}) {% if order.coupon.discount.is_percentage %} -{{ order.coupon.discount.value }}%{% else %} -{{ order.coupon.discount.value }} руб.{% endif %}</td>
                </tr>
                {% endif %}
                
                <tr class="total">
                    <td colspan="1"><strong>Доставка:</strong></td>
                    {% if order.dilivery_method == '1' %}
                        <td colspan="3">Самовывоз</td>
                    {% elif order.dilivery_method == '3' %}
                        <td colspan="3">Бесплатно</td>
                    {% elif order.dilivery_method == '4' %}
                        <td colspan="3">Курьер (350 руб.)</td>
                    {% else %}
                        <td colspan="3">Почта (270.00 Р) </td>
                    {% endif %}
                </tr>
                <tr class="total">
                    <td colspan="3"><strong>К оплате</strong></td>
                    <td style="white-space: nowrap;" class="num"><strong>{{ order.get_total }} руб.</strong></td>
                </tr>
            </tbody>
		</table>
		<span class="{% if order.paid %}paid{% else %}pending{% endif %}">
		{% if order.paid %}<span style="color: green;">Оплачено</span>{% else %}В процессе оплаты{% endif %}
		</span>
	</body>
</html>