.fw-400 {
  font-weight: 400;
}

.pt-15 {
	padding-top: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mw-auto {
  max-width: auto;
}

.alert-success {
    color: #80cbc4;
    background-color: #e1f5fc;
    border-color: #e3f2fd;
}

/*rating*/

.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    margin-left: -8px;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #000;
}
.rating {
	margin-left: 1px;
}

.custom-select {
    color: #adb5bd;
    font-size: 0.85rem;
    font-weight: 400;
}

.fz-6 {
    font-size: 0.6em;
}


.badge-info {
    background-color: #dcb14a;
}



.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-error hr {
  border-top-color: #f1b0b7;
}

.alert-error .alert-link {
  color: #491217;
}


.size-table {
    border-bottom: 1px #aaa dashed;
    cursor: pointer;
    color: #aaa;
}

.size-table:hover {
    border-bottom: 1px #222 dashed;
    cursor: pointer;
    color: #222;
    transition: ease all .3s;
}


.color-choice {
    padding-right: 1.75rem;
    border: none;
}

.bg-transp {
    background-color: transparent;
}

.size-var:hover div {
    border: 1px solid #222 !important;
    background: none;
    transition: ease all .3s;
}

.size-var:hover span {
    color: #222 !important;
    transition: ease all .3s;
}

.bg-color {
    background-color: #f5f5f5;
}




.header-video {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .header-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .header-video .container {
    position: relative;
    z-index: 2;
  }
  
  .header-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: black;
    opacity: 0.5; */
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    .header-video {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') #f5f5f5 no-repeat center center scroll;
    }
    .header-video video {
      display: none;
    }
  }