<!-- navbar-->
<header class="header bg-white">
  <div class="container px-0 px-lg-3">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="{% url 'shop:main' %}"><span class="font-weight-bold text-uppercase text-dark">Bauer Dress</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:main' %}">Главная</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:index' %}">Магазин</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:rent' %}">Аренда платьев</a>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Контакты</a>
            <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
              <a class="dropdown-item border-0 transition-link" href="https://www.instagram.com/bauerdress/" target="_blank">Instagram</a>
              <a class="dropdown-item border-0 transition-link" href="mailto:bauergallla@gmail.com">bauergallla@gmail.com</a>
              <a class="dropdown-item border-0 transition-link" href="tel:+89833022013">+8 (983) 302-20-13</a>
            </div>
          </li>
        </ul>
        {% include 'shop/account_nav.html' %}
      </div>
    </nav>
  </div>
</header>