{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block seo %}
  <title>Bauer Dress | {{ promotion.get_seo_title }}</title>
  <meta name="description" content="{{ promotion.get_seo_description }}"/>
{% endblock %}
{% block content %}
<!-- HERO SECTION-->
    <div class="container">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url({{ promotion.first_page.image.url }})">
          <div class="container py-5">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">{{ promotion.theme_of_promo }}</p>
                <h1 class="h2 text-uppercase mb-3">{{ promotion.offer }}</h1><a class="btn btn-dark" href="{{ url }}">Подробнее</a>
              </div>
            </div>
          </div>
        </section>
        <!-- CATEGORIES SECTION-->
        <section class="pt-5">
          <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">{{ promotion.second_page.subtitle }}</p>
              <h2 class="h5 text-uppercase mb-4">{{ promotion.second_page.title }}</h2>
          </header>
          <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <a class="category-item" href="{{ promotion.second_page.first_category.get_absolute_url }}">
                    <img class="img-fluid" src="{{ promotion.second_page.image_for_first_cat.url }}" alt="{{ promotion.second_page.alt_for_image_no_1 }}">
                    <strong class="category-item-title">{{ promotion.second_page.first_category.name }}</strong>
                </a>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <a class="category-item mb-4" href="{{ promotion.second_page.second_category.get_absolute_url }}">
                    <img class="img-fluid" src="{{ promotion.second_page.image_for_second_cat.url }}" alt="{{ promotion.second_page.alt_for_image_no_2 }}">
                    <strong class="category-item-title">{{ promotion.second_page.second_category.name }}</strong>
                </a>
                <a class="category-item" href="{{ promotion.second_page.third_category.get_absolute_url }}">
                    <img class="img-fluid" src="{{ promotion.second_page.image_for_third_cat.url }}" alt="{{ promotion.second_page.alt_for_image_no_3 }}">
                    <strong class="category-item-title">{{ promotion.second_page.third_category.name }}</strong>
                </a>
            </div>
            <div class="col-md-4">
                <a class="category-item" href="{{ promotion.second_page.fourth_category.get_absolute_url }}">
                    <img class="img-fluid" src="{{ promotion.second_page.image_for_fourth_cat.url }}" alt="{{ promotion.second_page.alt_for_image_no_4 }}">
                    <strong class="category-item-title">{{ promotion.second_page.fourth_category.name }}</strong>
                </a>
            </div>
          </div>
        </section>
        <!-- TRENDING PRODUCTS-->
        <section class="py-5">
          <header>
            <p class="small text-muted small text-uppercase mb-1">{{ promotion.third_page.subtitle }}</p>
            <h2 class="h5 text-uppercase mb-4">{{ promotion.third_page.title }}</h2>
          </header>
          <div class="row">
            {% for product in products %}
              <!-- PRODUCT-->
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                  <div class="product text-center">
                    <div class="mb-3 position-relative">
                      {% if product.discount %}
                      <div class="badge text-white badge-info">-{{ product.discount }}%</div>
                      {% endif %}
                      {% if product.status_new %}
                      <div class="badge text-white badge-primary">Новинка</div>
                      {% endif %}
                      <a class="d-block" href="{{ product.get_absolute_url }}">
                        <img class="img-fluid w-100" src="{% if product.images.first %}{{ product.images.first.image.url }}{% else %}{% static 'shop/img/product-banners/example.jpg' %} {% endif %}" alt="{{ product.images.first.alt }}">
                      </a>
                    </div>
                    <h6> <a class="reset-anchor" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                    <p class="small text-muted">{{ product.get_price|floatformat:'2' }} руб.</p>
                  </div>
                </div>
            {% empty %}
              Oops
            {% endfor %}
          </div>
        </section>
        <!-- SERVICES-->
        {% if promotion.service_page %}
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row text-center">

              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">{{ promotion.service_page.title_1 }}</h6>
                      <p class="text-small mb-0 text-muted">{{ promotion.service_page.subtitle_1 }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#helpline-24h-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">{{ promotion.service_page.title_2 }}</h6>
                      <p class="text-small mb-0 text-muted">{{ promotion.service_page.subtitle_2 }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#label-tag-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">{{ promotion.service_page.title_3 }}</h6>
                      <p class="text-small mb-0 text-muted">{{ promotion.service_page.subtitle_3 }}</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        {% endif %}
        <!-- NEWSLETTER-->
        {% if promotion.sub_page %}
        <section class="py-5">
          <div class="container p-0">
            <div class="row">
              <div class="col-lg-6 mb-3 mb-lg-0">
                <h5 class="text-uppercase">{{ promotion.sub_page.title }}</h5>
                <p class="text-small text-muted mb-0">{{ promotion.sub_page.subtitle }}</p>
              </div>
              <div class="col-lg-6">
                <form method="POST" action="{% url 'promo:sub' %}">
                  {% csrf_token %}
                  <div class="input-group flex-column flex-sm-row mb-3">
                    {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}
                    {% if form.is_bound %}
                      {% if field.errors %}
                        {% render_field form.email class="form-control form-control-lg py-3 is-invalid" placeholder="Введите Ваш Email" %}
                        {% for error in field.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% endif %}
                      {% render_field form.email class="form-control form-control-lg py-3 is-valid" placeholder="Введите Ваш Email" %}
                    {% else %}
                      {% render_field form.email class="form-control form-control-lg py-3 " placeholder="Введите Ваш Email" %}
                    {% endif %}
                    <div class="input-group-append">
                      <button class="btn btn-dark btn-block" id="button-addon2" type="submit">Подписаться</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
    </div>
{% endblock %}