{% extends "users/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}Войти{% endblock %}

{% block content %}
<section class="py-5 bg-light">
  <div class="container">
    <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
      <div class="col-lg-6">
        <h1 class="h2 text-uppercase mb-0">Войти</h1>
      </div>
    </div>
  </div>
</section>


<p class="col-lg-6 form-group pt-1">Если у вас ещё нет учётной записи, пожалуйста, сначала 
<a href="{{ signup_url }}">зарегистрируйтесь</a>.</p>

<section class="py-5">
  <!-- LOGIN FORM-->
  <div class="row">
    <div class="col-lg-12">
		<form class="login" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
		  <div class="col-lg-6 form-group">
	      {{ form|crispy }}
	      <div class="form-group mb-5">
		    <button class="btn btn-dark" type="submit">
		    	Войти
			  </button>
		  </div>
		</form>
	</div>
</section>

{% endblock %}