{% extends 'shop/distribution/detail_base.html' %}
{% block price %}
	{{ set.price }}
{% endblock %}

{% block sets %}

	<div class="owl-carousel size-slider owl-theme">
		<div class="item">
			<a style="padding-right: 10px;text-decoration: none;" class="d-flex" href="{{ set.get_absolute_url }}">
			  <div class="border d-flex align-items-center justify-content-between py-3 px-3 bg-white border-white" style="border: 1px solid #5eafea !important;">
			    <span class="small text-uppercase" style="white-space: nowrap;">{{ current_set.size_set }}</span>
			  </div>
			</a>
		</div>

		{% for set in sets %}
		<div class="item">
			<a style="padding-right: 10px;text-decoration: none;" class="size-var d-flex" href="{{ set.get_absolute_url }}">
			  <div class="border d-flex align-items-center justify-content-between py-3 px-3 bg-white border-white">
			    <span class="small text-uppercase text-gray" style="white-space: nowrap;">{{ set.size_set }}</span>
			  </div>
			</a>
		</div>
		{% endfor %}
	</div>
{% endblock %}


{% block form_open %}
<form action="{% url 'cart:cart_add' product.id set.price set.slug %}" method="POST">
    {% csrf_token %}
{% endblock %}

{% block form_close %}</form>{% endblock %}

{% block cart_add_button %}
<button class="btn btn-dark btn btn-block h-100 d-flex align-items-center justify-content-center px-0" type="submit">В корзину</button>
{% endblock %}

{% block wishlist_add %}
	<a class="btn btn-link text-dark p-0 pt-1" href="{% url 'wishlist:wishlist_add' product.id set.price set.slug %}">
      <i class="far fa-heart mr-2"></i>
      Добавить в желания
    </a><br>
{% endblock %}